<html>
<head>
    <meta charset="utf-8">
    <title>进入聊天室</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            padding-top: 10px;
        }

        h1 {
            font-size: 20px;
        }

        input {
            padding-left: 6px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>进入聊天室</h1>
    <hr>
    <form action="{{ url_for('.enter') }}" method="POST">
        <input type=text name="name" placeholder="昵称" autofocus>
        <button>进入聊天室</button>
    </form>
</div>
</body>
</html>
